.header {
  min-height: 210px;
  background-image: url("/images/bg-main-mobile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 700px) {
    background: url("/images/bg-main-desktop.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
  }

  &-container {
    position: relative;
    @media (min-width: 500px) {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  &-card {
    width: 300px;
    height: 165px;

    &-back {
      position: absolute;
      right: 10px;
      top: 1.5rem;
      background: url("/images/bg-card-back.png");
      border-radius: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media (min-width: 700px) {
        top: 3rem;
      }

      &-number {
        text-align: right;
        color: #fff;
        margin-right: 2rem;
        font-size: 0.7rem;
        letter-spacing: 2px;
      }
    }

    &-main {
      background: url("/images/bg-card-front.png");
      position: absolute;
      left: 10px;
      top: 6.65rem;
      border-radius: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      backdrop-filter: blur(4px);

      @media (min-width: 700px) {
        top: 8.1rem;
      }

      &-header {
        margin: 1rem 1.5rem 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        &-1 {
          width: 30px;
          height: 30px;
          background: var(--white);
          border-radius: 50%;
        }

        &-2 {
          width: 15px;
          height: 15px;
          border: 1px solid var(--white);
          border-radius: 50%;
        }
      }

      &-number {
        color: var(--white);
        margin: 0 1.5rem 0.5rem;
        text-align: center;
        display: flex;
        flex-direction: column;

        p {
          margin: 0;
          flex: 1;
          letter-spacing: 2px;
        }
      }

      &-name {
        display: flex;
        font-size: 0.6rem;
        justify-content: space-between;
        color: var(--white);
        text-transform: uppercase;
        margin: 0 1.5rem;
        letter-spacing: 2px;
      }
    }
  }
}
